/* Cadastro.css */
.container {
display: flex;
width: 700px;
height: 400px;
border-radius: 8px;
overflow: hidden;
transition: transform 0.6s ease-in-out;
}

.modo-cadastro .painel-esquerdo {
transform: translateX(100%);
}

.modo-cadastro .painel-direito {
transform: translateX(-100%);
}

.painel-esquerdo, .painel-direito {
width: 50%;
padding: 30px;
box-sizing: border-box;
transition: transform 0.6s ease-in-out;
}

.painel-esquerdo {
background-color: #e6d494;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;
}

.painel-direito {
background-color: #fdf8e9;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.botao-alternar {
background-color: transparent;
border: 2px solid white;
padding: 6px 5px;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
margin-bottom: 90px;
margin-left: -5px;
color: white;
font-size: 20px;
}

.sociais {
display: flex;
margin-top: 20px;
margin-left: 105px;
margin-bottom: 40px;
}

.sociais img {
width: 25px;
margin-left: 10px;
}

.caixas-selecao {
display: flex;
gap: 25px;
width: 200px;
margin-left: 40px;
}

h2 {
text-align: center;
margin-top: 40px;
}
.btn-cadastrar{
padding: 5px 20px;
margin-left: 75px;
margin-top: 15px;
}

