.chapeu-Cangaceiro{
  width: 10rem;
  margin-bottom: 8rem;
  z-index: 1;
  position: absolute;
  padding-top: 2rem;
}
.bola-amarela{
  position: relative;
  width: 15rem;
  color: #fff8d8;
  margin-bottom: 3rem;
}
.caveira{
  position: absolute;
  width: 9rem;
  margin-top: 6rem;
  
}

.perfil-container {
  display: flex;
  margin: 5rem auto;
  height: 60rem;
  border-radius: 0.8rem;
}

.perfil-lateral {
  width: 30rem;
  margin-left: 10rem;
  border-radius: 1rem;
  background-color: #e6dcae;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
}

.input-group-telaPerfil {
  width: 100%;
  margin-bottom: 3rem;
}

.input-group-telaPerfil label {
  font-size: 1.4rem;
  margin-bottom: -3rem;
  margin-left: 24rem;
  display: flex;
  justify-content: space-between;
  color: #333;
}


.input-group-telaPerfil input {
  
  width: 75%;
  padding: 0.6rem 0;
  border: none;
  border-bottom: 0.1rem solid #000;
  background-color: transparent;
  font-size: 1.4rem;
  color: #000;
  outline: none;
  margin-left: 4rem;
 
}

.perfil-conteudo {
  flex: 1;
  padding: 3rem;
  background-color: #fff8d8;
  margin-right: 10rem;
}

.expressao-colunas {
  display: flex;
  gap: 4rem;
}
.coluna-telaPerfil {
  /* flex: 1; */
  margin-left: 9rem;

}
.titulo-TelaPerfil{
  margin-left: -2rem;
}
.titulo-HistoricoCurtidas{
  margin-left: -5rem;
}
.pencil{
  margin-right: 3rem;
}

.coluna h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.expressao-card {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
}

.expressao-card h3 {
  font-size: 1.8rem;
  color: #222;
}

.expressao-card p {
  font-size: 1.2rem;
}

.expressao-card .exemplo {
  font-style: italic;
  margin: 2rem 0;
  color: #555;
}

.interacoes-telaPerfil {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.interacoes-telaPerfil .divisor {
  height: 1.5rem;
  width: 0.1rem;
  background-color: black;
}
.bookmark-telaPerfil{
  width: 1.7rem;
  margin-left: 10rem;
  margin-top: -23rem;
}
