.tela-inicial {
  font-family: Arial, sans-serif;
  background-color: #f9f7f2;
  color: #333;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.titulo-card span {
  color: #fff;
  font-weight: bold;
}

.expressao-do-dia {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.titulo-card {
  background-color: #e6d494;
  height: 8rem;
  margin: -2rem -2rem 0 -2rem;
  padding-top: 7rem;
  border-radius: 1rem;
}

.titulo-card h2 {
  margin-top: -1rem;
}

.card-expressao {
  background-color: #f5e8b4;
  padding: 2rem;
  width: 50%;
  height: 30rem;
  margin-top: 9rem;
  text-align: center;
  border-radius: 1.5rem;
  position: relative;
}

.cactoGroup {
  width: 7rem;
  position: absolute;
  top: 28rem;
  left: -2rem;
}

.significado h3 {
  margin: 3rem 0 0 0;
  font-size: 2.5rem;
}

.significado p {
  font-size: 1.5rem;
  width: 90%;
  margin: 1rem auto;
}

.expressoes-em-alta {
  background: #f5e8b4;
  padding: 8rem;
  margin-top: 12rem;
}

.expressoes-em-alta h2 {
  margin-top: 2rem;
}

.grade-expressoes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.expressao-TelaInicial {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.expressao-TelaInicial h3 {
  margin-top: 0;
  padding-bottom: 1rem;
  color: #000;
}

.desc {
  font-size: 1.5rem;
}

.exemplo-telaInicial {
  font-style: italic;
  color: #444;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.reacoes-telaInicial {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.reacoes-telaInicial .divisor {
  height: 1.5rem;
  width: 0.1rem;
  background-color: black;
}

.reacoes-telaInicial span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.like-telaInicial {
  width: 2rem;
}

.dislike-telaInicial {
  width: 2rem;
  padding-left: 1rem;
}

.coluna-esquerda,
.coluna-direita {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  max-width: 30rem;
}

.coluna-esquerda {
  border-right: 0.2rem solid black;
  padding-right: 2rem;
}

.coluna-direita {
  padding-left: 2rem;
}