/* index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f9f5e9, #d9c37a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select {
  margin: 8px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
}

button {
  padding: 5px 80px;
  background-color: #fdf8e9;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
